@font-face {
    font-family: "Meiryo";
    src: url("../assets/meiryo.ttc") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Meiryo";
    src: url("../assets/meiryob.ttc") format("truetype");
    font-weight: bold;
}

$primary: #fa9900;
$secondary: #666666;
$font-family-base: "Meiryo", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";

.transition {
    transition: all 250ms ease-out;
}

.game-btn {
    &:hover {
        span {
            letter-spacing: 3px;
        }
    }
}

.cow-btn {
    cursor: pointer;
    @extend .transition;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .m-2;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    animation: cow-btn-anim 1s ease infinite;

    img {
        width: 5rem;
        height: auto;
    }

    &:hover {
        img {
            animation: cow-btn-jiggle 0.5s ease-in;
        }
    }
}

.page {
    opacity: 0;
    animation: fade 0.8s ease-out forwards;

    .btn-colored {
        outline: none;
        border: none;
        border-radius: 1rem;
        border-bottom: 3px solid $secondary;
        width: 220px;
        margin-top: 2rem;
        transition: all 0.3s ease;

        &:hover {
            border-color: transparent;
            transform: translateY(3px);
        }
    }
}

.shake {
    animation: shake-anim 1s linear infinite;
}

@keyframes cow-btn-anim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes cow-btn-jiggle {
    0% {
        transform: translateY(-10%);
    }
    80% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake-anim {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
